@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .outline-button {
    @apply py-2 px-4 bg-transparent transition-all top-0 left-0 duration-100 hover:bg-accent hover:top-[-1px] hover:left-[2px] relative border-2 rounded-sm font-semibold border-secondary;
    font-family: 'Gantari', sans-serif;
  }
  .sec-font{
    font-family: 'Major Mono Display', monospace;
    /* font-family: 'Source Code Pro', monospace; */
  }
  .active{
    @apply text-secondary font-bold;
  }
  .custom-container{
    @apply md:w-[88%] max-w-[1200px] mx-auto w-[95%]; 
  }
  .gradient-bg{
    background:linear-gradient(to top,rgb(170 242 150),transparent 50%)
  }
}
*{
  box-sizing: border-box;
  padding: 0;
  font-family: 'Gantari', sans-serif;
}
body{
  overflow-x: hidden;
  background-color: #18003d;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #27035d; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaf296; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaf296cc; 
}

.transitionnes{
  transition: all 0.2s ease;
}